header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

header h1 {
  margin: 0;
}

.name a {
  text-decoration: none;
}

nav {
  display: flex;
  gap: 15px;
  height: 100px;
}

.socials {
  display: flex;
  gap: 15px;
}
